<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Diet Control Tool</title>
  <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/mui.css" rel="stylesheet" type="text/css">
  <link href="static/css/auto-complete.css" rel="stylesheet" type="text/css">
  <link href="static/css/style.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="static/img/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="mui--bg-danger" style="height:10px;"></div>
  <div id="content-wrapper" class="mui--text-center">

    <h1 class="mui--text-display1"><img id="logo" src="static/img/le_bigmac.png" alt="junk food">Diet Control Tool</h1>
    <div class="mui-divider"></div>
    <br>

    <form id="foodPickerForm" class="mui-form">
      <div class="mui-textfield">
        <input name="foodPicker" id="foodPicker" placeholder='Select food'>
      </div>
      <button type="submit" class="mui-btn mui-btn--primary" type="button">Add Food</button>
    </form>

    <br><div class="mui--text-body2" id="foodInfo"></div>

    <div class="mui-divider"></div><br>

    <div id="foodBalanceWrapper">
      <table id="foodBalanceTable" class="mui-table mui-panel">
        <thead>
          <th>Food</th>
          <th colspan="2">Kcal</th>
        </thead>
        <tbody id="foodBalanceBody"></tbody>
      </table>
      <p id="totalWrapper" class="mui--text-display1">You consumed <span class="bold" id="total"></span> calories eating Fast Food</p>
    </div>

  </div>

  <br>
  <br>
  <div class="links">
    <ul>
      <li><i class="glyphicon glyphicon-cog icon-muted"></i><a
                href="https://github.com/vyahello/calorie-counter"
                target="_blank"> Github Project</a></li>
        <li><i class="glyphicon glyphicon-globe icon-muted"></i><a
                href="https://www.linkedin.com/in/volodymyr-yahello-821746127/"
                target="_blank"> LinkedIn</a>
        </li>
      </ul>
    </div>

  <div class="copyright" style="margin: 10px">copyright <strong>&copy;</strong> Volodymyr Yahello </div>

  <script src="static/js/mui.js"></script>
  <script src="static/js/auto-complete.js"></script>
  <script src="static/js/food.js"></script>
  <script src="static/js/handler.js"></script>

</body>
</html>